* {
    margin-top: 0;
}

:root {
    --primary-color: #393e46;
    --secondary-color: #5a626f;
    --tertiary-color: #929AAB;
    --fortext: #fff;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #000000;
    color: var(--fortext);
}

/* navigation */
nav {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    margin-bottom: 0px;
    border-bottom: var(--tertiary-color) solid;
}

.navbar {
    margin-top: 10px;
    height: 40px;
}

nav a {
    align-items: center;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
    margin: 50px;
    padding: 40px;
}

nav a:hover {
    color: #b1b1b1;
    text-decoration: underline;
}

.navbar select {
    width: 200px;
    overflow: hidden;
    box-shadow: none;
    align-items: center;
    outline: 0;
    background-image: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
    border: none;
    background: none;
}

.navbar select::-ms-expand {
    display: none
}

.navbar select:hover {
    color: #000000;
    text-decoration: underline;
}


.navbar option:checked {
    background-color: var(--tertiary-color);
}

.navbar option {
    color: #000000;
}

.burger {
    display: none;
    font-size: 32px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    top: 15px;
    z-index: 999;
}


/* hero */
.hero {
    padding: 0 120px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0px 80px;
    background: linear-gradient(310deg, #8C98AC, #393e46);
    overflow: hidden;
}

.hero-text {
    justify-items: end;
    padding-right: 10%;
}

.hero-text h1 {
    margin: 0px;
    font-size: 48px;
    color: white;
}

.hero-text p {
    font-size: 38px;
    color: #ddd;
    margin: 10px 0;
}

.ig p {
    color: #aaa;
    font-size: 25px;
}

.hero-img {
    align-items: center;
    justify-content: center;
}

.person {
    width: 80%;
    border-radius: 500px 500px 0px 500px;
}

/* about me */
.aboutme {
    padding: 0 120px;
    background: linear-gradient(120deg, #AEBDD6 0%, #5B6370 67%);
}

.about-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    border-bottom: 3px var(--primary-color) solid;
    font-weight: 100;
}

.about-title p {
    padding-top: 20px;
}

.aboutme-wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutme-image-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ini img size */
.sec-person {
    width: 60%;
    margin-left: 200px;
}

.about-paragraph {
    display: flex;
    align-items: center;
    justify-items: start;
}

.paragraph-text h2 {
    font-size: 40px;
    margin: 0;
}

.paragraph-text p {
    font-size: 20px;
    font-weight: lighter;
    width: 80%;
}

/* Education */
.education {
    padding: 0 120px;
    background-color: #5A626F;
    max-height: 50%;
}

.education-wrapper {
    padding: 0px 68px 0px 68px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 100vh; */
}

.info-title {
    margin: 20px 0px;
    font-size: 20px;
}

.major-year {
    display: flex;
    justify-content: space-between;
}

.school-identity h2 {
    font-size: 25px;
    margin: 0;
}

.major-year p {
    font-size: 15px;
    font-weight: lighter;
}

.info-wrapper {
    margin-top: 5%;
}

/* education grafity */
.education-grafity {
    font-family: 'Rock salt', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    font-size: 25px;
}

.education-grafity p {
    margin: 0;
}

/* tools */
.tools {
    background-color: var(--primary-color);
    padding: 0px 120px;
    padding-bottom: 50px;
}

.tools-title {
    display: flex;
    padding: 20px 0px 0px 0px;
    border-bottom: 3px var(--tertiary-color) solid;
    font-weight: 100;
    font-size: 30px;
}

.tools-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tools-wrapper img {
    max-width: 100px;
}

/* cetificate */
.certificate {
    padding: 0 120px;
    background-color: #4b515c;

}

.certificate-title {
    display: flex;
    padding: 20px 0px 0px 68px;
    border-bottom: 3px var(--tertiary-color) solid;
    font-weight: 100;
    font-size: 30px;
}

.certificate-card {
    padding: 0 68px;
}

.certificate-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.certificate-wrapper img {
    max-width: 500px;
}

/* portfolio */
.portfolio {
    background-color: var(--primary-color);
    padding: 0 120px;
}

.portfolio-title {

    display: flex;
    padding: 20px 0px 0px 68px;
    border-bottom: 3px var(--tertiary-color) solid;
    font-weight: 100;
    font-size: 30px;
}

.portfolio-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.portfolio-card,
.portfolio-card>.portfolio-wrapper {
    padding: 10px;
}

.portfolio-wrapper {
    max-width: 500px;
    max-height: 700px;
    width: 100%;
    height: 100%;
}


.content {
    color: #000000;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.content img {
    max-width: 100%;
    border: 1px solid black;
}

/* footer */
footer {
    padding: 0px 120px;
    margin: 0;
    background-color: #181a1f;
    max-height: 500px;
    height: 300px;
}

.foot-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copy-right {
    color: #393e46;
}

.sosmed {
    width: 10%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.sosmed a {
    color: white;
    text-decoration: none;
}

/* media */
@media (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
    }

    .navbar {
        display: none;
    }

    /* ===== HERO ===== */
    .hero {
        grid-template-columns: 1fr;
        padding: 80px 24px;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        text-align: center;
    }

    .hero-text p,
    h1 {
        font-size: 32px;
    }

    .hero-text .ig p {
        font-size: 15px;
    }


    .hero-img {
        display: flex;
        justify-content: center;
    }

    .hero-img img {
        width: 100%;
    }


    /* ===== ABOUT ME ===== */
    .aboutme {
        padding: 0px 30px;
    }

    .aboutme-wrapper {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr;
    }

    .aboutme-image-wrapper img {
        margin: 0px;
        padding: 0;
    }

    .sec-person {
        margin: 0;
        width: 100%;
    }

    .about-paragraph {
        justify-content: center;
        text-align: center;
    }

    .paragraph-text h2 {
        font-size: 20px;
    }

    .paragraph-text p {
        width: 100%;
        font-size: 14px;
    }

    /* ===== EDUCATION ===== */
    .education {
        padding: 30px;
    }

    .education-info {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .education-wrapper {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .major-year {
        flex-direction: column;
    }

    .info-wrapper h2 {
        font-size: 20px;
    }

    .info-wrapper p {
        font-size: 14px;
    }

    .education-grafity {
        flex-direction: column;
        gap: 0px;
        overflow-x: auto;
        white-space: nowrap;
        font-size: 25px;
        width: 100%;
    }

    .education-grafity p {
        flex-shrink: 0;
    }

    /* ===== TOOLS ===== */
    .tools {
        padding: 0 30px;
    }

    .tool-section {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .tools-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .tools-title {
        display: flex;
        justify-content: center;
    }

    /* ===== CERTIFICATE ==== */
    .certificate {
        padding: 0 30px;
    }

    .certificate-title {
        font-size: 20px;
        padding: 10px 0;
    }

    .certificate-wrapper {
        margin: 0;
        flex-direction: column;
        gap: 20px;
    }

    .certificate-wrapper img {
        width: 300px;
    }

    /* ===== PORTFOLIO ===== */
    .portfolio {
        padding: 10px 30px;
        height: 100%;
    }

    .portfolio-title {
        padding: 0;
        font-size: 20px;
    }

    .portfolio-card {
        flex-direction: column;
        width: 100
    }

    /* ===== FOOTER ===== */
    .foot-section {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .sosmed {
        justify-content: center;
        gap: 20px;
    }

    /* === burger === */
    .burger {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: -250px;
        height: 100vh;
        width: 250px;
        background: rgba(24, 26, 31, 0.75);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
        z-index: 1000;
    }

    .navbar a {
        margin: 20px 0;
        padding: 0;
    }

    .navbar.active {
        right: 0;
    }


}

@media (min-width: 769px) and (max-width: 1024px) {

    section,
    .aboutme,
    .education,
    .tools,
    .certificate,
    .portfolio,
    footer {
        padding: 0 48px;
    }

    /* HERO */
    .hero {
        grid-template-columns: 1fr;
        padding: 100px 48px;
        text-align: center;
    }

    .hero-img {
        display: flex;
        justify-content: center;
    }

    .person {
        width: 60%;
    }

    /* ABOUT */
    .aboutme-wrapper {
        grid-template-columns: 1fr;
    }

    .sec-person {
        margin-left: 0;
    }

    /* TOOLS */
    .tools-wrapper {
        justify-content: space-around;
    }

    /* PORTFOLIO */
    .portfolio-card {
        flex-direction: column;
    }

    .portfolio-wrapper {
        max-width: 80%;
    }

    /* FOOTER */
    .foot-section {
        justify-content: space-between;
    }
}